.header,
.bottom-header {
  font-family: 'Inter', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: white;
    background-color:#4b565e;
    padding: 0 240px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 20px;
}

.header-nav {
    display: flex;
}

.header-nav-item {
    margin-right: 20px;
    font-weight: 600px;
}

.header-right {
    display: flex;
    align-items: center;
}

.phone-number {
    padding-left: 10px;
    color: #f9fafb;
    text-decoration: none;
}

.cart {
    margin-left: 40px;
    border-color: #f0ba4e;
    border-style: solid;
    border-width: 1px;
    display: flex;
    border-radius: 50px;
    background-color: #4b565e;
}

.img-cart {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.empty {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 14.5px;
    color: #f9fafb;
    font-weight: 500px;
}

.heart {
    margin-left: 40px;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    color: #3c3c3b;
    background-color: #f0ba4e;
    padding: 0 240px;
}

.bottom-header-left {
    display: flex;
    align-items: center;
}

.bottom-header-nav {
    width: 696px;
    display: flex;
}

.bottom-header-nav-item {
    margin-right: 24px;
    font-size: 14px;
    font-weight: 600;
}

.menu {
    margin-right: 10px;
}

.bottom-header-right {
    margin-right: 24px;
    display: flex;
    align-items: center;
}

.bottom-header-right form {
    display: flex;
}

.search-container {
  position: relative;
  width: 100%;
}



.search {
    margin-right: 24px;
    display: flex;
    align-items: center;
    width: 400px;
    border: none;
    background-color: #f0ba4e;  
    border-bottom: 1px solid #4b565e;
    outline: none;
} 

.search-icon {
  position: absolute;
  right: 24px;
  top: 35%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.map {
    display: flex;
}

.country {
    margin-right: 4px;
    color: #ffffff;
    background-color: #f0ba4e;
    border-style: solid;
    border-width: 0;
}