<div class="header">
    <div class="header-left">
        <div class="header-logo">
            <img src="/assets/Frame.svg" alt="логотип сайта">
        </div>
        <nav class="header-nav">
            <div class="header-nav-item">Главная</div>
            <div class="header-nav-item">О компании</div>
            <div class="header-nav-item">Каталог</div>
        </nav>
    </div>
    <div class="header-right">
        <img src="/assets/Phone.svg" alt="">
        <a class="phone-number" href="tel:+79650842929">+7 (965) 084-29-29</a>
        <img class="heart" src="/assets/heart.svg" alt="">
        <button class="cart">
            <img class="img-cart" src="/assets/cart.svg" alt="">
            <span class="empty">Пусто</span>
        </button>
    </div>
</div>

<div class="bottom-header">
    <div class="bottom-header-left">
        <img class="menu" src="/assets/light.svg" alt="">
        <nav class="bottom-header-nav">
            <div class="bottom-header-nav-item">Каталог</div>
            <div class="bottom-header-nav-item">Стройматериалы</div>
            <div class="bottom-header-nav-item">Инструменты</div>
            <div class="bottom-header-nav-item">Электрика</div>
            <div class="bottom-header-nav-item">Интерьер и одежда</div>
        </nav>
    </div>
    <div class="bottom-header-right">
        <form class="search-form">
            <div class="search-container">
                <input class="search" type="text" placeholder="Поиск, например Круг зачистной">
                <img class="search-icon" src="/assets/search.svg" alt="Поиск">
            </div>
        </form>
        <div class="map">
            <img src="/assets/map-pin.svg" alt="">
            <button class="country" type="menu">Москва</button>
        </div>
    </div>
</div>
<div>
    <img src="/assets/rectangle.png" alt="background-large">
</div>